body {
    background-color: #FBFCFE !important;
}

.w7p_item_edit_form label {
    font-weight: 700;
}

.w7p_mb_3 {
    margin-bottom: 3rem;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.h100 {
    height: 100px;
}

.w7p_main_card,
.w7p_card {
    background: #fff;
    box-shadow: 0px 10px 20px rgba(51, 58, 109, .1);
    border-radius: 5px;
}

.w7p_card {
    margin-bottom: 30px;
}

.w7p_main_card .adminform,
.w7p_card .adminform {
    padding: 1.5rem;
}

.w7p_card_title {
    padding: 15px 20px;
    border-bottom: 1px solid #ececec;
}

.w7p_card_title h3 {
    font-size: 13px;
    margin: 0;
}

.w7p_main_card .nav-tabs {
    margin-bottom: 0;
    border-bottom: 1px solid #ececec;
}

.w7p_main_card .nav-tabs > li > a {
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0 !important;
    transition: all .3s ease-out;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.w7p_main_card .nav-tabs > li > a:hover {
    background: transparent !important;
    border-bottom: 2px solid #7E57FF;
    color: #7E57FF;
}

.w7p_main_card .nav-tabs > li > a {
    color: #2D2C4B;
}

.w7p_main_card .nav-tabs > .active > a, .w7p_main_card .nav-tabs > .active > a:hover, .w7p_main_card .nav-tabs > .active > a:focus {
    color: #7E57FF;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid #7E57FF;
}

.w7dropzone {
    border: 1px solid #ececec;
    background: #f6f6f6;
    border-radius: 5px;
}

.w7dropzone .dz-message {
    margin: 3rem 0;
}

.w7dropzone .dz-message .dz-button {
    font-size: 16px;
    font-weight: 700;
}

.gallery_row {
    margin-bottom: 35px;
}

.gallery_img_container {
    position: relative;
    margin-top: 20px;
    border-radius: 6px;
    overflow: hidden;
}

.gallery_img_container .img_actions {
    position: absolute;
    top: 10px;
    left: 10px;
}

/*** Items ***/
.w7p_list_introimg {
    max-height: 72px;
    border-radius: 3px;
    box-shadow: 0px 10px 20px rgba(51, 58, 109, .1);
}

body .j-sidebar-container {
    background: #fff;
    border-radius: 5px;
    margin-top: 0px;
    box-shadow: 0px 10px 20px rgba(51, 58, 109, .1);
    border: 0;
}

body .j-toggle-sidebar-button {
    color: #7E57FF;
}

body .sidebar-nav .nav-list > li > a:focus, body .sidebar-nav .nav-list > li > a:hover {
    background-color: #7E57FF;
}

body .sidebar-nav .nav-list > li > a {
    transition: all .3s ease-out;
}

.sidebar-nav .nav-list > .active > a, .sidebar-nav .nav-list > .active > a:hover, body .sidebar-nav .nav-list > a:hover, .sidebar-nav .nav-list > .active > a:focus {
    background-color: #7E57FF;
}

body .j-sidebar-container.j-sidebar-visible {
    left: 10px;
}

#j-main-container:not(.dashboard) {
    background: #fff;
    box-shadow: 0px 10px 20px rgba(51, 58, 109, .1);
    padding: 0 !important;
}

#j-main-container .js-stools {
    padding: 1.5rem;
    border-bottom: 1px solid #ececec;
    width: calc(100% - 3rem);
    border-radius: 5px;
}

#j-main-container .table-striped tbody > tr:nth-child(odd) > td, #j-main-container .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f8f8f8;
}

#j-main-container .table th, #j-main-container .table td {
    padding: 1rem 8px;
}

.admin_logo {
    max-width: 140px;
    display: block;
    margin: 0 auto;
}

.logo_container {
    text-align: center;
    margin-top: 40px;
}

.logo_container a {
    font-size: 80%;
    color: #7E57FF;
}

/*#j-main-container a {
    color: #7E57FF;
}

#j-main-container a:hover {
    color: #2D2C4B
} */

body {
    background: #edf1f5;
    color: #313131;
}

/*** Control Panel ***/
.cpanel-links .sidebar-nav {
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
}

/*** Sections ***/
.j-sidebar-container {
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    left: 20px;
}

.j-sidebar-container.j-sidebar-visible {
    left: 20px;
}

.j-sidebar-container.j-sidebar-hidden {
    left: -18.5%;
}

#system-message-container.j-toggle-main, #j-main-container.j-toggle-main {
    width: calc(82.87292818% - 70px);
}

body .nav-list > .active > a, .sidebar-nav .nav-list > li > a:focus, .sidebar-nav .nav-list > li > a:hover {
    color: #16181b !important;
    text-decoration: none !important;
    background-color: #f7fafc !important;
}

.sidebar-nav .nav-list > li > a {
    padding: 10px;
}

/*** Alerts ***/
.alert {
    color: #856539;
    background-color: #fff3e2;
    border-color: #ffeed6;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 2px;
}

.alert h3,
.alert .alert-heading {
    color: #ffc36d;
    font-size: 1.3125rem !important;
}

.alert-info {
    color: #175976;
    background-color: #d5eef9;
    border-color: #c4e7f7;
}

.alert-info h3,
.alert-info .alert-heading {
    color: #2cabe3!important;
}

.alert-success {
    color: #176c42;
    background-color: #d5f6e5;
    border-color: #c4f2db;
}

.alert-success h3,
.alert-success .alert-heading {
    color: #2cd07e!important;
}

/*** ***/
.subhead.subhead-fixed {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
}

/*** Buttons ***/
.js-stools .btn,
.table.table .btn {
    box-shadow: none !important;
}

#toolbar .btn, button.btn, .btn {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    padding: .375rem .75rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: 2px !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    color: #525f7f !important;
    border: 1px solid #e9ecef !important;
    background: #fff !important;
}

#toolbar .btn:hover {
    background: #f7fafc !important;
}

#toolbar [class^="icon-"], #toolbar [class*=" icon-"] {
    background-color: transparent !important;
    border-radius: 0 !important;
    border-color: #e9ecef !important;
}

.btn-success, #toolbar .btn-success, .sitemap_row .btn-success {
    color: #fff !important;
    background-color: #2cd07e !important;
    border-color: #2cd07e !important;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
    border: 1px solid transparent !important;
    padding: .375rem .75rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: 2px !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.btn-success:hover, #toolbar .btn-success:hover {
    color: #fff !important;
    background-color: #25b06b !important;
    border-color: #23a665 !important;
}

.btn-danger {
    color: #fff !important;
    background-color: #ff5050 !important;
    border-color: #ff5050 !important;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
    border: 1px solid transparent !important;
    padding: .375rem .75rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: 2px !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.controls .btn-group.btn-group-yesno > .btn {
    padding: .375rem 0 !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: 2px !important;
    border-color: transparent !important;
    background-color: #f7fafc !important;
}

.controls .btn-group.btn-group-yesno > .btn.btn-danger {
    background-color: #ff5050 !important;
    border-color: #ff5050 !important;
}

.controls .btn-group.btn-group-yesno > .btn.btn-success {
    background-color: #2cd07e !important;
    border-color: #2cd07e !important;
}

/*** Chzn ***/
.chzn-color-state.chzn-single[rel="value_2"] {
    color: #fff !important;
    background: #8898aa !important;
    border-color: #8898aa !important;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
}

.chzn-single.chzn-color-state span,
.chzn-container-single .chzn-single.chzn-color-state div b {
    color: #fff !important;
}

.chzn-container-single .chzn-single {
    line-height: 32px !important;
    padding: 0 15px !important;
}

.chzn-container .chzn-results li {
    line-height: 32px !important;
    padding: 0 15px !important;
}

.chzn-container .chzn-drop {
    color: #313131 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #e9ecef !important;
    border-radius: 2px !important;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1) !important;
}

.chzn-container .chzn-results li.highlighted {
    color: #16181b !important;
    text-decoration: none !important;
    background-color: #f7fafc !important;
}

.chzn-container-single .chzn-single {
    border: 1px solid #e9ecef !important;
    border-radius: 2px !important;
}

.chzn-container-single .chzn-single div {
    background-color: #f7fafc !important;
    border-left: 1px solid #e9ecef !important;
}

.chzn-container-single .chzn-single div b {
    color: #525f7f !important;
}

.chzn-container-single .chzn-single span {
    color: #525f7f !important;
}

.chzn-color.chzn-single[rel="value_1"], .chzn-color-reverse.chzn-single[rel="value_0"], .chzn-color-state.chzn-single[rel="value_1"], .chzn-color.chzn-single[rel="value_show_no_link"], .chzn-color.chzn-single[rel="value_show_with_link"] {
    color: #fff !important;
    background: #2cd07e !important;
    border-color: #2cd07e !important;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
}

.chzn-color-state.chzn-single[rel="value_0"], .chzn-color-state.chzn-single[rel="value_-2"] {
    color: #fff !important;
    background: #ff5050 !important;
    border-color: #ff5050 !important;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
}

.chzn-color-state.chzn-single span {
    color: #fff !important;
}

/*** Forms ***/
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    padding: .375rem .75rem !important;
    font-size: .875rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #525f7f !important;
    background-color: #fff !important;
    background-clip: padding-bo !important;
    border: 1px solid #e9ecef !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    color: #525f7f !important;
    background-color: #fff !important;
    border-color: rgba(0,0,0,.25) !important;
    outline: 0 !important;
}

.input-append .add-on, .input-append .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .add-on, .input-prepend .btn, .input-prepend .btn-group > .dropdown-toggle {
    padding: .375rem .75rem !important;
    margin-bottom: 0 !important;
    font-size: .875rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #525f7f !important;
    text-align: center !important;
    white-space: nowrap !important;
    background-color: #f7fafc !important;
    border: 1px solid #e9ecef !important;
    border-radius: 2px !important;
}

.input-append [class^="icon-"] {
    font-size: .875rem !important;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: auto !important;
}

/*** Editor ***/
.mce-panel,
.mce-btn {
    background-color: #f7fafc !important;
}

.mce-panel,
.mce-menubar,
.mce-btn-group:not(:first-child) {
    border-color: #e9ecef !important;
}

/*** Edit view ***/
#item-form {
    background: #fff !important;
    padding: 1.5rem !important;
}

#item-form .tab-content {
    border: 1px solid transparent !important;
    border-top: 0 !important;
    padding: 1.5rem !important;
}

#item-form .nav.nav-tabs {
    margin-bottom: 0 !important;
    border-bottom: 2px solid rgba(120,130,140,.13) !important;
}

#item-form .nav-tabs > li > a {
    color: #000 !important;
    padding: 15px 1.5rem !important;
    border: 0 !important;
    transition: all .3s ease-out !important;
}

#item-form .nav-tabs > li > a:hover {
    background-color: transparent !important;
    border: 0 !important;
    border-bottom: 2px solid #7E57FF !important;
    color: #7E57FF !important;
}

#item-form .nav-tabs > .active > a, .nav-tabs > .active > a:hover, #item-form .nav-tabs > .active > a:focus {
    border-color: transparent !important;
    border-bottom: 2px solid #7E57FF !important;
    color: #7E57FF !important;
}

/*
#item-form .tab-content #general .span9,
#item-form .tab-content #general .span3,
#item-form .form-inline-header {
    background: #fff;
    padding: 1.5rem;
}
*/

/*** Tables ***/
table.table {
    background: #fff !important;
}

table.table tr td {
    padding: .9375rem .4rem !important;
    vertical-align: middle !important;
}

table.table tr td:first-child,
table.table tr th:first-child {
    padding-left: 1.5rem !important;
}

table.table tr td:last-child,
table.table tr th:last-child  {
    padding-right: 1.5rem !important;
}

table.table thead th {
    vertical-align: bottom !important;
    border-bottom: 2px solid rgba(120,130,140,.13) !important;
    padding: .9375rem .4rem !important;
}

table.table thead th a {
    color: #313131 !important;
}

table.table thead th a:hover {
    color: #7E57FF !important;
    text-decoration: none !important;
}

table.table thead th [class^="icon-"], table.table thead th [class*=" icon-"] {
    color: #7E57FF !important;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f7fafc !important;
}

.table tbody tr td {
    border-top: 1px solid rgba(120,130,140,.13) !important;
}

.header {
    background-color: #2f323e !important;
}

.navbar-inner, .navbar-inverse .navbar-inner, .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle, #status.status-top {
    background: #1c1e26 !important;
}

.subhead {
    background-color: #edf1f5 !important;
    border-bottom: 0 !important;
    transition: all .3s ease-out !important;
    box-shadow: 0 4px 6px transparent, 0 1px 3px transparent !important;
}

textarea {
    box-sizing: border-box !important;
}

/*** SERP Preview ***/
.w7_serp_prev_container {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #edf1f5;
    max-width: 600px;
}

.w7_serp_prev_container .w7_serp_domain_wrapper .domain {
    font-size: 14px;
    line-height: 1.3;
    color: #202124;
    font-style: normal;
    font-family: arial,sans-serif !important;
}

.w7_serp_prev_container .w7_serp_title_wrapper {
    text-overflow: '...'; 
overflow: hidden; 
white-space: nowrap;
}

.w7_serp_prev_container .w7_serp_title_wrapper .title {
    font-size: 20px;
    line-height: 1.3;
    color: #1a0dab;
    padding-top: 4px;
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 0 !important;
    font-weight: normal;
    font-family: arial,sans-serif !important;
}

.w7_serp_prev_container .w7_serp_desc_wrapper .description {
    color: #4d5156;
    line-height: 1.58;
    font-family: arial,sans-serif !important;
}

.serp_disclamer {
    margin-top: 5px;
}

/*** Facebook Preview ***/
.card-seo-facebook__text {
    padding: 10px 12px;
    color: #1d2129;
    border-bottom: 1px solid #dadde1;
    background: #f2f3f5;
}

.card-seo-facebook__image {
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid #dadde1;
    border-bottom: 1px solid #dadde1;
}

.card-seo-facebook {
    cursor: pointer;
    position: relative;
    display: block;
    background-color: #ffffff;
    margin: 0 -20px;
    overflow: hidden;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.card-seo-facebook__title {
    margin-top: 5px;
    border-collapse: separate;
    color: #1d2129;
    cursor: pointer;
    direction: ltr;
    display: inline;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: auto;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
    text-decoration-color: #1d2129;
    text-decoration-line: none;
    text-decoration-style: solid;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: color;
    transition-timing-function: ease-in-out;
    user-select: none;
    white-space: normal;
    width: auto;
    word-wrap: break-word;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-font-smoothing: antialiased;
}

.card-seo-facebook__description {
    border-collapse: separate;
    color: #606770;
    direction: ltr;
    display: -webkit-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 18px;
    line-height: 20px;
    margin-top: 3px;
    max-height: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-overflow: ellipsis;
    user-select: none;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-box-orient: vertical;
    -webkit-font-smoothing: antialiased;
    -webkit-line-clamp: 1;
}

.card-seo-facebook__content {
    border-collapse: separate;
    color: #4b4f56;
    direction: ltr;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 46px;
    line-height: 14.4px;
    max-height: 46px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    user-select: none;
    word-wrap: break-word;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-font-smoothing: antialiased;
}

.card-seo-facebook__link {
    border-collapse: separate;
    color: #606770;
    direction: ltr;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 11px;
    line-height: 11px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
    width: 501px;
    word-wrap: break-word;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-font-smoothing: antialiased;
}

.card-seo-twitter {
    cursor: pointer;
    position: relative;
    display: block;
    background-color: #ffffff;
    border-radius: 14px;
    border-style: solid;
    border-color: #E1E8ED;
    border-width: 1px;
    margin-left: 44px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.card-seo-twitter__image {
    height: 150px;
    background-size: cover;
    background-color: #E1E8ED;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-color: inherit;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    overflow: hidden;
}

.card-seo-twitter__text {
    padding: 9px;
}

.card-seo-twitter__title {
    display: block;
    margin: 0 0 0.15em;
    font-size: 14px;
    line-height: 18.375px;
    letter-spacing: normal;
    overflow: hidden;
}

.card-seo-twitter__description {
    display: none;
    height: 2.6em;
    max-height: 2.6em;
    margin-top: 0.32333em;
    line-height: 1.3em;
    letter-spacing: normal;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.card-seo-twitter__link {
    display: block;
    color: #657786;
    text-transform: lowercase;
    line-height: 1.3125;
    letter-spacing: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 770px) {
    .card-seo-facebook__text {
        border: 1px solid #dadde1;
        border-top: none;
    }

    .card-seo-facebook__image {
        border: 1px solid #dadde1;
        width: 498px;
        height: 261px;
    }
    .card-seo-facebook {
        margin: 0;
        width: 500px;
    }
    .card-seo-facebook__title {
        font-size: 16px;
        line-height: 20px;
    }
    .card-seo-twitter {
        width: 506px;
        border-radius: 0.42857em;
        margin-left: 0;
        overflow: hidden;
    }
    .card-seo-twitter__image {
        width: 506px;
        height: 252px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden;
    }
    .card-seo-twitter__text {
        padding: 0.75em 1em;
    }
    .card-seo-twitter__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1em;
        font-weight: bold;
        line-height: 1.3em;
        max-height: 1.3em;
    }
    .card-seo-twitter__description {
        display: block;
        display: -webkit-box;
    }

    .card-seo-twitter__link {
        margin-top: 0.32333em;
        color: #8899A6;
    }
}

.page_summary i.message_icon {
    font-size: 28px;
}

.page_summary i.message_icon.success {
    color: #fff;
}

.page_summary i.message_icon.danger {
    color: #fff;
}

.page_summary i.message_icon.warning {
    color: #fff;
}

.summary_message p {
    margin: 0 !important;
    color: #fff;
    font-weight: 700;
}

.summary_row {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 5px;
}

.summary_row.success {
    background-color: var(--success);
}

.summary_row.warning {
    background-color: var(--warning);
}

.summary_row.danger {
    background-color: var(--danger);
}

.page_summary .section {
    margin-bottom: 20px;
}

.btn-copy {
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%) !important;
}

.sitemap_url_label {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text);
}