@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

body {
    --primary: #7E57FF;
    --success: #2cd07e;
    --warning: #eed112;
    --danger: #ff5050;
    --shadow: 0px 10px 20px rgba(51, 58, 109, .1);
    --text: #313131;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.alert.alert-no-items {
    margin: 0;
}

.w-100-per {
    width: 100%;
    box-sizing: border-box;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 2.5rem !important;
}

/*** Forms ***/
.w7_input_desc_container {
    padding: 10px;
    border-radius: 4px;
    background: #edf1f5;
    border: 1px solid #e3eaf1;
}

.w7_input_wrapper {
    position: relative;
    display: flex;
}

.w7_input_length {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: #edf1f5;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 700;
    transition: all .3s ease-out;
}

.w7_input_length.danger {
    background: #ff5050;
    color: #fff;
}

.w7_input_length.success {
    background: #2cd07e;
    color: #fff;
}

.w7_input_length.warning {
    background: #eed112;
    color: #fff;
}

.w7_input_wrapper input,
.w7_input_wrapper textarea {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

/*** Admin ***/
.w7_top_input .chzn-container.chzn-container-single {
    width: 100% !important;
}

.w7_top_input .chzn-container.chzn-container-single a.chzn-single {
    font-size: 22px;
    font-weight: 700;
    padding: 7px 15px !important;
}

.w7_top_input .chzn-container-single .chzn-single div {
    width: 40px;
}

.w7_top_input .chzn-container-single .chzn-single div b {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 40px;
}

.w7_top_input .control-label {
    height: 48px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

.w7p_item_edit_form input,
.w7p_item_edit_form textarea,
.w7p_edit_sidebar input,
.w7p_edit_sidebar textarea {
    width: 100%;
    box-sizing: border-box;
}

.w7p_item_edit_form .control-group .chzn-container {
    width: 100% !important;
}

.w7p_item_edit_form input.readonly {
    background-color: #edf1f5 !important;
}

.w7p_item_edit_form .field-media-input {
    width: 318px;
}

.dashboard_section:not(.last) {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;
}

/*** Block menu ***/
.dashboard_menu {
    margin-bottom: 30px;;
}

.block_menu_item {
    background: #fff;
    padding: 30px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.block_menu_link:hover .block_menu_item {
    box-shadow: none;
    border: 1px solid #ececec;
    transform: scale(.995);
}

a.block_menu_link {
    text-decoration: none !important;
}

.block_menu_item span {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text);
}

.block_menu_icon {
    font-size: 42px;
    margin-bottom: 20px;
    display: block;
    color: var(--primary);
}

.block_menu_icon.success {
    color: var(--success);
}

.block_menu_icon.danger {
    color: var(--danger);
}

.block_menu_link.color.primary .block_menu_item {
    background-color: var(--primary);
}

.block_menu_link.color.warning .block_menu_item {
    background-color: var(--warning);
}

.block_menu_link.color .block_menu_item span,
.block_menu_link.color .block_menu_item .block_menu_icon {
    color: #fff;
}

.bubble_link {
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--text);
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-top: 20px;
    transition: all .3s ease-out;
}

.bubble_link.success {
    background: var(--success);
}

.bubble_link.danger {
    background: var(--danger);
}

.bubble_link:hover {
    background: var(--text);
    text-decoration: none;
    color: #fff;
}

button.btn.button-bi::before {
    content: '' !important;
}

/*** Stats ***/
.stats_card {
    background: #fff;
    padding: 15px 20px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats_card .card_icon_container i {
    font-size: 50px;
}

.stats_card p.value {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.stats_card p.value span.small {
    font-size: 16px;
}

.stats_card .card_head {
    text-transform: uppercase;
    font-size: 12px;
}

.stats_card.primary {
    background-color: var(--primary);
}

.stats_card.danger {
    background-color: var(--danger);
}

.stats_card.success {
    background-color: var(--success);
}

.stats_card.warning {
    background-color: var(--warning);
}

.stats_card.dark p.value,
.stats_card.dark .card_head,
.stats_card.dark .card_icon_container i {
    color: #fff;
}

.adminform .control-group {
    margin-bottom: 20px;
}

.tooltip {
    position: relative !important;
    display: inline-block !important;
    opacity: 1 !important;
}
  
.dashboard .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.dashboard .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.dashboard .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}